<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anik.finalproject" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/apps_iconkc"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"

            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
           >
        </activity>
        <activity
            android:name=".Learning"
            android:label="@string/title_activity_learning"
            android:screenOrientation="portrait"
           >
        </activity>
        <activity
            android:name=".Testing"
            android:label="@string/title_activity_testing"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".About"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Shape"
            android:label="@string/title_activity_shape"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Color"
            android:label="@string/title_activity_color"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Architecture"
            android:label="@string/title_activity_architecture"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Toys"
            android:label="@string/title_activity_toys"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Writer"
            android:label="@string/title_activity_writer"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Technology"
            android:label="@string/title_activity_technology"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Test_color"
            android:label="@string/title_activity_test_color"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Test_shape"
            android:label="@string/title_activity_test_shape"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Test_writer"
            android:label="@string/title_activity_test_writer"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Test_toys"
            android:label="@string/title_activity_test_toys"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Test_architecture"
            android:label="@string/title_activity_test_architecture"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Test_technology"
            android:label="@string/title_activity_test_technology"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Green"
            android:label="@string/title_activity_green"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Red"
            android:label="@string/title_activity_red"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Orange"
            android:label="@string/title_activity_orange"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Yellow"
            android:label="@string/title_activity_yellow"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Testgreen"
            android:label="@string/title_activity_testgreen"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Testorange"
            android:label="@string/title_activity_testorange"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Testred"
            android:label="@string/title_activity_testred"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Testyellow"
            android:label="@string/title_activity_testyellow"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Star"
            android:label="@string/title_activity_star"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Tripigium"
            android:label="@string/title_activity_tripigium"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Square"
            android:label="@string/title_activity_square"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Circle"
            android:label="@string/title_activity_circle"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Sririsoudho"
            android:label="@string/title_activity_sririsoudho"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Mohasthanghor"
            android:label="@string/title_activity_mohasthanghor"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Moynamoti"
            android:label="@string/title_activity_moynamoti"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Paharpur"
            android:label="@string/title_activity_paharpur"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Nazrul"
            android:label="@string/title_activity_nazrul"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Rabindronath"
            android:label="@string/title_activity_rabindronath"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Jasimuddin"
            android:label="@string/title_activity_jasimuddin"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Mobile"
            android:label="@string/title_activity_mobile"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Computer"
            android:label="@string/title_activity_computer"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Television"
            android:label="@string/title_activity_television"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Laptop"
            android:label="@string/title_activity_laptop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Bankim"
            android:label="@string/title_activity_bankim"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
